@charset "utf-8";
#zonaformulario{
    float:left;
    padding:30px;
    border:2px dotted #00F;
}
#zonadatos{
    float:left;
    width:600px;
    margin-left:50px;
    padding:30px;
    border:2px dotted #F00;

}