@charset "utf-8";
#contenedor{
    width: 1200px;
    margin:auto;
    position:relative
}
#zonaformulario{
    float:left;
    padding: 30px;
    border: 2px solid #F00;
}
#zonadatos{
    float: right;
    width: 500px;
    padding: 20px;
    margin-left: 20px;
    border: 2px dashed #00F;
}
#zonaprogreso{
    color:#F00;
    font-size: 36px;
    text-align: center;
    float: right;
    width: 500px;
    padding: 20px;
    margin-left: 20px;
    border: 2px dashed #00F;
}
.directorio{
    color:#0000FF;
    font-weight: bold;
    cursor: pointer;
}
